{% extends 'catalog/base.html' %}
{% block content %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col-md-4">
                    <div class="card md-4 box-shadow">
                        <div class="card-body">

                            <div class="col-6">г. Москва</div>
                            <div class="col-6">+7 495 777 77 77 test@gmail.com</div>
                            <div class="col-6">г. Санкт-Петербург</div>
                            <div class="col-6">+7 888 777 88 99 test2@gmail.com</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}